<?xml version="1.0" encoding="utf-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
	id	=	"ar.com.ingverger.typeanumber" 
    versionCode = "12"
	version="1.0.4" >

	<name>Escribe un numero</name>
	<description>
		Ejemplo de phonegap build docs.
	</description>
	<author email="ingverger@gmail.com" href="http://www.ingverger.com.ar">
		Willie Verger juegos de ingenio
	</author>

	<platform name="android">
		<allow-intent href="market:*" />
	</platform>

</widget>
